<div class="form-group row fitem">
    <div class="col-md-3">
        <label class="col-form-label d-inline ">
            Поиск по названию
        </label>
    </div>
    <div class="col-md-9 form-inline felement" data-fieldtype="text">
        <input id="filter-title" type="text" class="rkibook-form-control form-control">
        <a id="rkibook-search" class="btn btn-secondary">Искать</a>
    </div>
</div>

<div id="rki-content">
    <div class="row">
        <div id="rki-items-list" class="col-sm">
            <!--list-->
        </div>
        <div id="rki-items-details" class="col-sm">
            <div class="row">
                <div id="rki-item-detail-image" class="col-sm-5 pub-image">
                    <a href=""><img src="" class="img-responsive thumbnail" alt=""></a>
                </div>
                <div class="col-sm-7">
                    <br>
                    <div id="rki-item-detail-title"></div>
                    <div id="rki-item-detail-title_additional"></div>
                    <div id="rki-item-detail-pubhouse"></div>
                    <div id="rki-item-detail-authors"></div>
                    <div id="rki-item-detail-pubtype"></div>
                    <div id="rki-item-detail-pubyear"></div>
                    <br>
                    <a id="rki-item-detail-read" style="display: none"
                       class="btn btn-secondary" target="_blank">Читать</a>
                </div>
            </div>
            <br>
            <div id="rki-details-fields">
                <div id="rki-item-detail-description"></div>
                <br>
                <div id="rki-item-detail-keywords"></div>
            </div>
        </div>
    </div>
</div>